@charset "UTF-8";

@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Quantico|Quantico);

/* General css */

h2, h3, h4, h5, h6 {
	font-family: 'Quantico';
	margin: 0;
	padding: 0;
	font-weight: normal;
}


h1 {
	font-family: 'Quantico';
	color: #333;
	margin: 0;
	padding-top: 0;
	font-size: 8rem;
	margin-top: 60px;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
	margin: 20px 0;
}

a {
	color: inherit;
}

li {
	line-height: 1.5;
}

form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px #000 solid;
	width: 200px;
	padding: 5px 10px;
}

form button {
	background: transparent;
	border: 1px solid black;
	color: black;
	width: 200px;
	display: block;
	margin-top: 10px;
}

form button:hover {
	border-color: #333;
	color: #333;
}

form label {
	display: block;
	padding: 5px 0;
}

form>div {
	margin-bottom: 20px;
}

button, .buttom {
	padding: 10px;
	cursor: pointer;
	width: 120px;
}

div.float_label {
	position: relative;
}

div.float_label input, textarea {
	position: relative;
	z-index: 20;
}

div.float_label label {
	position: relative;
	top: 20px;
	opacity: 0;
}

div.float_label:not(.hide-label) label {
	opacity: 1;
	top: 0px;
	transition: top 0.2s, opacity 0.2s;
}

/* specific css */
html {
	background-image: url(../img/background.gif);
	background-repeat: repeat;
}

body {
	color: #fff;
	font-size: 14px;
	margin: 0;
}

header {
	background-image: url(../img/parchment.png);
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
	overflow: hidden;
}

header h2 {
	font-size: 2rem;
	margin-bottom: 35px;
	color: #333;
}

nav, footer {
	padding-top: 50px;
	text-align: center;
	font-family: 'Quantico';
	font-size: 1.5rem;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 0 15px;
}

main {
	font-size: 1rem;
	padding: 50px 0;
	font-family: 'Quantico';
}

.book {
	background-size: cover;
	height: 900px;
	margin: 0 auto;
	position: relative;
}

/* Open book */
.book.open {
	background-image: url(../img/book.png);
	color: rgb(21, 21, 21);
	width: 1200px;
	font-family: 'Quantico';
}

.book.open ::-webkit-input-placeholder {
   color: rgb(21,21,21);
}

.book.open :-moz-placeholder {
   color: rgb(21,21,21);
}

.book.open ::-moz-placeholder {
   color: rgb(21,21,21);
}

.book.open :-ms-input-placeholder {
   color: rgb(21,21,21);
}

.book.open .page {
	box-sizing: border-box;
	height: 780px;
	position: absolute;
	padding: 25px 30px;
	top: 14px;	
	overflow: auto;
}

.book.open .page.left {
	width: 600px;
	left: 15px;
}

.game_list {
	margin: 0;
	padding: 0;
}

.game_list li {
	border: #333;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 15px;
    margin: 10px 50px 0 25px;
    padding: 10px 0 0 20px;
    font-weight: bold;
    font-size: larger;
    list-style: none;
}

.page.right p {
	font-size: 1.5rem;
}

.game_player_list li{
	border: none;
    font-size: medium;
    margin: 7px 0 7px 0;
    padding: 0;
	font-weight: normal;
	list-style: disc;
}

.book.open .page.right {
	width: 560px;
	right: 20px;
}
.book.open .page.left p {
	font-size: 1.5rem;
    padding-left: 20px;
}
.book.open h3 {
	margin-left: 10px;
}

.book.open input {
	color: rgb(21, 21, 21);
}

/* Closed book */
.book.closed {
	background-image: url(../img/book_cover.png);
	width: 600px;
	color: #fff;
}

.book.closed h3, .book.closed label, .book.closed input, .book.closed p
	{
	background: -webkit-linear-gradient(transparent, transparent),
		url(../img/charcoal.jpg) repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	fill-color: transparent;
}

.book.closed input, .book.closed p, .book.closed label, .book.closed button
	{
	font-size: 1.5rem;
	text-align: center;
}

.book.closed input {
	color: white;
	border-color: #87672E;
}

.book.closed button {
	border-color: #87672E;
	color: #87672E;
	margin: 10px auto;
}

.book.closed button:hover {
	background: url(../img/charcoal.jpg);
	color: #333;
	border-color: #333;
}

.book.closed button:first-of-type {
	margin-top: 40px;
}

.book.closed, .book.closed input {
	color: rgb(240, 184, 0);
}

.book.closed .page {
	position: absolute;
	width: 500px;
	height: 800px;
	left: 45px;
	top: 100px;
	text-align: center;
	overflow: auto;
}

.book.closed h3 {
	margin-top: 40px;
	font-size: 4rem;
}

.book.closed ::-webkit-input-placeholder {
   color: rgb(255,196,0);
}

.book.closed :-moz-placeholder {
   color: rgb(255,196,0);
}

.book.closed ::-moz-placeholder {
   color: rgb(255,196,0);
}

.book.closed :-ms-input-placeholder {
   color: rgb(255,196,0);
}

/* Game elements */
.dicelist, .cardlist, .playerlist ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.playerlist {
	margin-top: 20px;
	margin-left: 20px;
    margin-right: 30px;
	
}

.player.current_player {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 -10px;
	padding: 0 30px;
	border-radius: 15px;
}

.player.logged_player h4::after {
	text-decoration: underline;
}
.player.logged_player p {
	font-size: 0.95rem;
}

.dicelist, .cardlist {
	text-align: center;
}

.dicelist li, .cardlist li {
	padding: 0;
	margin: 10px 10px 20px 10px;
	display: inline-block;
	vertical-align: bottom;
}

.dice {
	width: 32px;
	height: 32px;
	background-size: cover;
}

.logged_player .dice {
	width: 64px;
	height: 64px;
}
.dice.dice_1 {
	background-image: url(../img/dice_wazabi.png);
}

.dice.dice_2 {
	background-image: url(../img/dice_takecard.png);
}

.dice.dice_3 {
	background-image: url(../img/dice_giveaway.png);
}

.card {
	/* 374x650 */
	width: 87px;
	height: 150px;	
	background-size: cover;	
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: white;
}

.card p {
	padding: 0;
	margin: 10px 0 10px 0;
}

.card.visible {
	width: 116px;
	height: 200px;
	background-image: url(../img/card_front.png);
}
.card:not(.visible).card_type_0 {
	background-image: url(../img/card_cover_1.png);
}

.card:not(.visible).card_type_1 {
	background-image: url(../img/card_cover_2.png);
}

.card:not(.visible).card_type_2 {
	background-image: url(../img/card_cover_3.png);
}

#player_controls > * {
	display: none;
}

#player_controls > .active {
	display: block;
}